@{
    ViewData["Title"] = "InvoicesApp";
}

<div class="text-center">
    <h1 class="display-4">¡Hola, bienvenido a InvoicesApp!</h1>
    <div class="text-center">
        <a class="btn btn-dark" asp-area="" asp-controller="Invoices" asp-action="Index">Ver facturas</a>
    </div>
</div>
